.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.text-container {
  display: flex;
  align-items: center;
  position: relative;
}
#text-box {
  background-color: lightgray;
  padding: 20px;
  border-radius: 10px;
  max-width: 60%;
  position: relative;
}
.character-container {
  position: absolute;
  top: 50%;
  left: -270px; /* Adjust the character's initial position */
  transform: translateY(-50%);
  min-width: 333px; /* Set minimum width */
  min-height: 233px; /* Set minimum height */
}
#character-image {
  width: 100%; /* Adjust the width to fill the container */
  height: auto;
}
#text-content {
  margin-left: 20px;
  font-family: 'Roboto', sans-serif; /* 使用现代字体 */
  font-family:'隶书';
  font-size: 18px;
  color: #555; /* 设定文字颜色 */
  line-height: 1.5; /* 设置行高 */
  max-width: 600px; /* 限制文本最大宽度 */
  text-align: justify; /* 文本两端对齐 */
  letter-spacing: 0.5px; /* 字母间距 */
  transition: color 0.3s, text-shadow 0.3s; /* 添加过渡效果 */

  /* 添加文本阴影效果 */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);

  /* 鼠标悬停时的样式变化 */
  transition: color 0.3s, text-shadow 0.3s;

  white-space: nowrap;
  overflow: hidden;
  animation: revealText 2s ease-out; /* 添加字幕拉开的动画 */
}

@keyframes revealText {
  from {
    max-width: 0; /* 初始时隐藏文本 */
  }
  to {
    max-width: 600px; /* 逐渐拉开文本 */
  }
}

#text-content:hover {
  color: #3498db; /* 鼠标悬停时修改文字颜色 */
  text-shadow: 2px 2px 4px rgba(52, 152, 219, 0.3); /* 鼠标悬停时添加更明显的文本阴影 */
}





@keyframes typing {
  from {
    width: 0;
  }
}


#next-button {
  display: right;
  padding: 5px 10px;
  font-size: 16px;

  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: background-color 0.3s, box-shadow 0.3s;
  background-color: #3498db;
  color: #fff;
}

#next-button:hover {
  background-color: #2980b9;
}

#next-button:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#next-button:focus {
  box-shadow: 0 0 5px #3498db;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #3498db;
  }
  50% {
    box-shadow: 0 0 20px #3498db;
  }
  100% {
    box-shadow: 0 0 5px #3498db;
  }
}

#next-button.glow {
  animation: glow 1.5s infinite;
}


#repeat-button {
  background-color: #b07e8a;
  color: #fff;
  padding: 5px 10px;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#repeat-button:hover {
  background-color: #dc92dc;
}


.highlight {
  color: #ff66ad; /* Set the text color to red for the highlighted text */
  text-shadow: 0 0 10px rgba(47, 255, 0, 0.8); /* Add a red glow effect */
  opacity: 0.94;
}
