body{
    background:url("../images/泊霓的房间.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.demo{
    padding: 60px 0;
}
.box{
    position: relative;
    perspective: 1000px;
}
.box .box-img{
    transform: rotateY(0);
    transition: all 0.50s ease-in-out 0s;
}
.box:hover .box-img{
    transform: rotateY(-90deg);
}
.box .box-img img{
    width: 100%;
    height: auto;
}

.box .box-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 60px 20px;
    text-align: center;
    background:rgba(0,0.1,0.3,0.6);
    transform: rotateY(90deg);
    transition: all 0.50s ease-in-out 0s;
}
.box:hover .box-content{
    transform: rotateY(0);
}
.box .title{
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
}
.box .description{
    font-size: 20px;
    line-height: 24px;
    color: #fff;
}

.box .description:after{
    content: "";
    width: 80%;
    display: block;
    border-bottom: 1px solid #fff;
    margin: 15px auto;
}

@media only screen and (max-width: 990px) {
    .box{  margin-bottom:20px; }
}
@media only screen and (max-width: 479px) {
    .box .box-content{ padding: 20px; }
}
audio{
    display: none;
  }
  footer {
    text-align: center; /* 让页脚内容水平居中 */
    background-color: none; /* 设置页脚的背景颜色 */
    color: #ffff5e; /* 设置文字颜色为白色 */
    padding: 20px 0; /* 添加一些内边距，增加页脚的可读性 */
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: center; /* 使用 flex 布局让页脚内容水平居中 */
    align-items: center;
}

.footer-logo img {
    width: 100px; /* 设置 LOGO 图片的宽度 */
}

.footer-info {
    margin-left: 20px; /* 添加一些左边距，以分隔 LOGO 和信息 */
}
